.someMarginForm {
    margin: 5px;
}

.fixRadio {
    margin-left: 150px;
}

.formSendButton {
    background-color: #373737;
    color: white;
    width: 133px;
    height: 42px;
}
.inputBoxFix {
    width: 600px;
    height: 40px;
}
.jobBoxFix {
    width: 600px;
    height: 150px;
}
.inputBoxBorder {
    border: solid 2px black;
}
.formButtonDiv {
    width: 600px;
}
.radioButtonDiv {
    width: 600px;
}

@media only screen and (min-width: 900px) {
}
@media only screen and (max-width: 768px) {
    .inputBoxFix {
        width: 90vw;
        height: 40px;
    }
    .jobBoxFix {
        width: 90vw;
        height: 150px;
    }
    .contactFromNoDisplay {
        display: none;
    }
    .formButtonDiv {
        width: 90vw;
    }
    .contactFromCenter {
        display: flex;
        justify-content: center;
    }
    .radioButtonDiv {
        width: 90vw;
    }
    .fixRadio {
        margin-left: 60px;
    }
}
