.cardBgColor {
    background-color: #373737;
}

.makeRound {
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
}
.centerContainer {
    text-align: center;
    position: relative;
}
.centerChild {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -120%);
}

.arrowPosition {
    position:absolute;
    bottom: 15px;
    right: 15px;
}

.noDisplay {
    display: none;
}

.contactUs {
    padding-top: 10px;
}
.someMargin {
    margin-top: 20px;
}

.fontSizeSmall {
    font-size: 24px;
}
.fontSizeXSmall {
    font-size: 20px;
}

.fontSizeBig {
    font-size: 32px;
}

.fontFamily {
    font-family: 'Lexend', sans-serif;
}

.boxShadow {
    box-shadow: 0px 4px 10px 5px;
}
.boxShadow1 {
    box-shadow: 0px 8px 10px 0px #080808;
}

.buttonFix {
    width: 90%;
    height: 60px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;   
    background-color: #909090;
}

.boxShadow2 {
    box-shadow: 0px 4px 20px 5px #fff;
}

.onHoverButton:hover {
    box-shadow: 0px 4px 20px 5px #fff;
}

.boxSize1 {
   height: 198px;
   width: 366px;
}
.boxSize2 {
    height: 351px;
    width: 366px;
}
.cardPadTopResp {
    padding-top: 70px;
}

@media only screen and (max-width: 768px) {
    .boxSize1 {
        width: 320px;
    } 
    .boxSize2 {
        height: 300px;
        width: 320px;
    }
    .cardPadTopResp {
        padding-top: 20px;
    }
}