.footerBar {
    width: 100%;
    height: 250px;
    background-color: #373737;
}

.centerFooter {
    text-align: center;
}
.footerPad {
    padding-top: 30px;
    padding-bottom: 100px;
}
.footerTextColor {
    color: white;
}

.footerLinkFix {
    text-decoration: none;
    color: white;
}

.footerLinkFix:hover {
    color: gray;
}

