.centerContainer {
    text-align: center;
    position: relative;
}
.centerChild2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
}

.fontFamily {
    font-family: 'Lexend', sans-serif;
}
.inlineDisplay {
    display: flex;  
}

.skFontSize {
    font-size: 20px;
}
.skCenterText {
    text-align: center;
}

.skFormat {
    border-right: 2px solid black;
    margin-right: 25px;
    padding-right: 25px;
    
}
@media only screen and (min-width: 1200px) {
    .responsiveFix {
        width: 30%;
    }
}

@media only screen and (max-width: 875px) {
    .skFontSize {
        font-size: 15px
    }
    .skFormat {
        margin-right: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .skFontSize {
        font-size: 12px
    }
}