.servicesSection {
    background-image: url("~/src/assets/images/servicesPage.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicesIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fontFamily {
    font-family: 'Lexend', sans-serif;
}
.servicesTextPad {
    padding-top: 30px;
}
.servicesLine {
    border-right: 1px solid black;
}
.quoteBlockButton {
    background-color: #373737;
    border-style: solid;
    border-width: 0px;
    border-radius: 75px;
    width: 70%;
    height: 108px;
    text-align: center;
    color: white;
}
.quoteBlockShadow:hover {
    box-shadow: 5px 4px 30px 5px #080808;
}

.servicesFontSize {
    font-size: 32px;
}
.quoteBlockButtonCenter {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .mobileServicesPad {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .servicesLine {
        border-right: 0;
        border-bottom: 1px solid black;
    }
    .servicesCenter {
        display: flex;
        justify-content: center;
    }
    .servicesWidth {
        width: 80%;
    }
    .homeRenoTextFix {
        width: 80%;
    }
    .servicesFontSize {
        font-size: 20px;
    }
    .quoteBlockButton {
        width: 95%;
    }
}
@media only screen and (min-width: 768px) {
    .homeRenoTextFix {
        width: 60%;
    }
}